#capa {
  fill: none;
  stroke-width: 0;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  user-drag: none;
}