<section class="block w-full">
  <div class="h-7"></div>
  <div class="font-sans text-base leading-tight px-4 flex flex-col gap-3">
    <div class="flex justify-end">
      <a href="/">
        @if (!tema) {
          <img
            src="assets/fotos/logo2.png"
            alt="logo na parte do sobre"
            width="80"
          />
        } @else {
          <img
            src="assets/fotos/logo2black.png"
            alt="logo na parte do sobre com tema escuro"
            width="80"
          />
        }
      </a>
    </div>

    <span class="font-primario text-2xl md:text-3xl" style="font-weight: 700"
      >Olá Mundo! 👋</span
    >
    <p class="mb-6 text-base" style="vertical-align: inherit">
      Estudante de desenvolvimento web. Fortalezense torcedor do Corinthians,
      "atlela de crossfit", gamer nos finais de semana.
    </p>

    <p class="mb-6 text-base" style="vertical-align: inherit">
      Tenho mais de 8 anos em experiencia no campo da tecnologia. Atualmente
      faço parte do time de implantação do Grupo Boticario. Cursando a minha
      segunda graduação com o objetivo de ingressar na área que tanto almejo,
      assim iniciando a minha carreira de desenvolvedor. Sou apaixonado na ideia
      de que possa ser feito qualquer coisa na ponta dos dedos!
    </p>

    <p class="mb-6 text-base" style="vertical-align: inherit">
      Sempre (ou quase sempre) gostei de me aventurar por algoritmos. De início,
      adorava realizar consultas em banco de dados resolvendo algum problema ou
      criando algo. Essa magia de sair algum resultado por meio de codificação é
      que me deixava deslumbrado. Foi o que me levou a querer me aprofundar em
      desenvolvimento, especificamente.
    </p>

    <p class="mb-6 text-base" style="vertical-align: inherit">
      Eu também crio muitos "projetos" ou aplicações para colocar sempre em
      pratica algo que venho estudando. Acho que boa parte dos meus dias é
      tentando criar algo. As vezes levo muito tempo para terminar o que estou
      construindo, mas sempre entrego. Entrego para mim mesmo. Adoro ver o
      resultado final. Vejo que todo o processo valeu a pena, sempre encarando
      como uma jornada de aprendizado por mais que eu leve muito tempo para
      terminar o que ando construindo. O que acontece a maioria das vezes.
      Quanto ao código; Gosto de me aprofundar a React e como novidade o
      Angular, por onde fiz esse portfólio.
    </p>

    <p class="mb-6 text-base" style="vertical-align: inherit">
      E em 2024 veio uma versão melhor de mim; Curioso, estudioso e incansável.
      Nunca esperei ou pensei em chegar a tal ponto de determinação a aprender o
      que for preciso para me tornar um ótimo futuro profissional.
    </p>

    <p class="mb-6 text-base" style="vertical-align: inherit">
      Obrigado pela a atenção.
    </p>
  </div>
</section>
