<nav class="relative w-full h-16 mt-3 bg-logo">
  <div
    class="fixed top-0 left-0 right-0 z-40 flex flex-row justify-between p-4 bg-[--cor-bg-nav] bg-opacity-30 backdrop-filter backdrop-blur-lg"
  >
    <a href="/" class="logo-capa w-11 h-11"> </a>
    <button
      (click)="toggle()"
      class="w-11 h-11 relative rounded-md hover:bg-cinzaescuro"
    >
      <span
        class="icone-tema cursor-pointer absolute inset-0 w-full h-full grid place-items-center"
      >
      </span>
    </button>
  </div>
</nav>
