<main class="container mx-auto pt-2 mt-10 md:w-[724px] md:px-12">
  <ul
    class="tabs-container text-base pt-3 max-w-full overflow-auto grid grid-flow-col auto-cols-[1fr] items-center text-fluid--1 px-2 md:px-0"
  >
    <li
      tabindex="0"
      class="cursor-pointer w-full h-full grid place-items-center hover:bg-cinzaclaro font-primario font-bold text-base text-[--cor-cinza-info]"
      (click)="onTabClick('Publicacoes')"
      (keydown)="onKeydown($event, 'Publicacoes')"
    >
      <span class="p-2" [class.active]="activeTab === 'Publicacoes'"
        >Publicações</span
      >
    </li>
    <li
      tabindex="0"
      class="cursor-pointer w-full h-full grid place-items-center hover:bg-cinzaclaro font-primario font-bold text-base text-[--cor-cinza-info]"
      (click)="onTabClick('Sobre')"
      (keydown)="onKeydown($event, 'Sobre')"
    >
      <span class="p-2" [class.active]="activeTab === 'Sobre'">Sobre</span>
    </li>
    <li
      tabindex="0"
      class="cursor-pointer w-full h-full grid place-items-center hover:bg-cinzaclaro font-primario font-bold text-base text-[--cor-cinza-info]"
      (click)="onTabClick('Projetos')"
      (keydown)="onKeydown($event, 'Projetos')"
    >
      <span matBadge="5" matBadgeColor="accent" class="p-1 notificacao-projetos" [class.active]="activeTab === 'Projetos'"
        >Projetos</span
      >
    </li>
    <!-- <li
      tabindex="0"
      class="cursor-pointer w-full h-full grid place-items-center hover:bg-cinzaclaro font-primario font-bold text-sm md:text-base text-[--cor-cinza-info]"
      (click)="onTabClick('Experiencia')"
      (keydown)="onKeydown($event, 'Experiencia')"
    >
      <span class="p-1 md:p-2" [class.active]="activeTab === 'Experiencia'"
        >Experiências</span
      >
    </li> -->
  </ul>

  <div>
    @if (activeTab === 'Publicacoes') {
      <app-feed />
    } @else if (activeTab === 'Sobre') {
      <app-sobre />
    } @else if (activeTab === 'Projetos') {
      <app-projects />
    }
    <!-- } @else {
      <app-experiencias />
    } -->
  </div>
</main>
